
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404 | Page Not Found</title>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />

    <!-- Google Fonts -->
    <link href="/assets/css/material-icons.css" rel="stylesheet">
    <link href='/assets/css/roboto.css' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <!-- <link href="../../plugins/node-waves/waves.css" rel="stylesheet" /> -->

    <!-- Custom Css -->
    <link href="/css/404.css" rel="stylesheet">
</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">This page doesn't exist</div>
        <div class="button-place">
            <a href="/dashboard" class="btn btn-default btn-lg waves-effect">GO TO DASHBOARD</a>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Waves Effect Plugin Js -->
    <!-- <script src="../../plugins/node-waves/waves.js"></script> -->
</body>

</html>