<!DOCTYPE html>
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <title>Login | Planner</title>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logo.png" />
    <link rel="icon" type="image/png" href="../assets/img/logo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- Bootstrap core CSS     -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/material-dashboard.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="/assets/css/material-icons.css" rel="stylesheet" />
  <script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/assets/js/bootstrap-notify.js"></script>
  <style>
    @media screen and (max-width: 800px) {
       .login-page .card {
          margin-top: 50px;
          /*display: none;*/
    }
}
  </style>
</head>
<body>
<div class="content">
  <div class="container login-page">
        {{#if success_msg}}
            <script type="text/javascript">
     
              $.notify({
                icon: "info",
                title: "<strong>Success</strong>",
                message: "{{ success_msg }}.",
              },{
                  // settings
                  type: "warning"
              });
        
            </script>
        {{/if}}

        {{#if error}}
          <script type="text/javascript">
              $.notify({
                icon: "error",
                title: "<strong>Error</strong>",
                message: "{{ error }}.",
              },{
                  // settings
                  type: "warning"
              });
            </script>
        {{/if}}

        {{#if error_msg}}
            <script type="text/javascript">
              $.notify({
                icon: "warning",
                title: "<strong>Unauthorized</strong>",
                message: "{{ error_msg }}",
              },{
                  // settings
                  type: "danger"
              });
            </script>
        {{/if}}
  <div class="card form">
    <form class="login-form" method="POST" action="/users/login">
      <input type="hidden" name="_csrf" value="">
      <input type="text" id="email" name="username" placeholder="Username"/>
      <input type="password" id="password" name="password" placeholder="Password" required />
      <button class="btn btn-info">login</button>
      <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
    </form>
  </div>
</div>

</div>

<!--   Core JS Files   -->
<!-- <script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script> -->
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<!-- <script src="/assets/js/chartist.min.js"></script> -->
<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
<!-- Material Dashboard javascript methods -->
<script src="/assets/js/material-dashboard.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="/assets/js/demo.js"></script> -->

<script>
// $('.message a').click(function(){
//    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
// });

// $('.alert').alert()

//     $(".alert").hide();
//     $(".alert").fadeTo(4000, 500).fadeOut(500, function(){
//     $(".alert").fadeOut(500);
//   });
</script>
</body>
</html>